DATABASE_URL=postgres://postgres:postgres@postgres:5432/bugzilla_prod
SECRET_KEY_BASE=<secret>
SECRET_SALT=<salt>
DASHBOARD_USER=<user>
DASHBOARD_PASSWORD=<password>
SENTRY_DSN=https://<sentry_dsn_here>.ingest.sentry.io/<sentry_dsn_here>
POOL_SIZE=20
APP_HOST=localhost
APP_PORT=4000
APP_SCHEME=http
SMTP_HOST=mailcatcher
SMTP_PORT=25
