header.d-flex.align-items-center.p-4
  a.mr-auto href="/"
    img src=Routes.static_path(@conn, "/images/bootstrap.svg") width="48" height="48"
  a.btn.btn-lg.btn-outline-primary href="/signin" Sign in
