<p>Forgot your password, <%= @user.name %>?</p>
<p>If you want to reset your Bugzilla password, click on the button below. This link will lead you to the secure page for password request.</p>
<%= render "_button.html", %{url: @url, text: "Reset password"} %>
<p>If you don't want to reset your password, please ignore this message. Your password will not be reset.</p>
<br>
<p>Bugzilla Team</p>
