= unless is_nil(get_flash(@conn, :info)) do
  p.alert.alert-success role="alert" = get_flash(@conn, :info)
= unless is_nil(get_flash(@conn, :error)) do
  p.alert.alert-danger role="alert" = get_flash(@conn, :error)
